<h1>Event List</h1>

<p>
  <strong>Phone number:</strong> <%= Rails.configuration.x.twilio[:phone_number] %>
</p>

<% if @current_event %>
  <p>
    <strong>Current event: </strong><%= @current_event.name %>
  </p>
<% end %>

<table class="table table-bordered table-striped">
  <tr>
    <th>Name</th>
    <th>Date</th>
    <th>Edit</th>
    <th>Current?</th>
    <th>Remove Event</th>
    <th>Event Attendance</th>
  </tr>

  <% @events.each do |event| %>
    <tr>
      <td><%= event.name %></td>
      <td><%= event.date.strftime("%A, %B %e, %Y") %></td>
      <td><%= link_to "Edit event", edit_event_path(event.id) %></td>

      <% if event.current? %>
        <td><%= button_to "Mark as done", remove_current_event_path(event) %></td>
      <% else %>
        <td><%= button_to "Mark as current", make_current_event_path(event) %></td>
      <% end %>

	  <td><%= link_to 'Delete event', event, method: :delete, data: { confirm: 'Are you sure you want to delete this event?' } %></td>
      <td><%= link_to "Attendance", event_path(event) %></td>
    </tr>
  <% end %>
</table>

<%= link_to "Create event", new_event_path %><br>
<%= link_to "Log out", logout_path %>
