<html>
<head>
	<title>Events</title>
</head>
<body>
<h1>Events and such</h1>
<% if @current %>
<strong>Current: </strong><%= @current.name %>
<% end %>
<table>
<% @events.each do |event| %>
<tr>
	<td><%= event.name %></td>
	<td><%= event.date %></td>
	<td><%= link_to "Attendance", [event, :attendances] %></td>
	<% if event.current %>
	<td><%= button_to "Mark as done", remove_current_event_path(event) %></td>
	<% else %>
	<td><%= button_to "Mark as current", make_current_event_path(event) %></td>
	<% end %>
        <td><%= link_to "Edit event", edit_event_url(event.id) %></td>
	<td><%= button_to "Remove event", event, :method=>:delete, :class=>:destroy %></td>
</tr>
<% end %>
</table>
<%= link_to "Create event", new_event_url %>
</body>
</html>
